body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #E3F2FD;
}

.menuheader{
  background-color: #E3F2FD;
  color: #ffffff;
  padding: 2.5vh 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vw
}
